{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur architecto veniam laborum temporibus in voluptas! Amet odio nesciunt, asperiores ea esse fugiat omnis enim cum veritatis vero, repellat facilis reiciendis!
    Similique reprehenderit hic repellendus provident ipsum in, repellat tempore, eos dolores unde eum alias quam natus sint necessitatibus rerum at dolorum dolor modi qui facere odio ducimus! Natus, harum debitis.</p>
{% endblock content %}